<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Reset password Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<table cellpadding="0px" cellspacing="0" border="0" width="100%" style="font-family:Helvetica, Arial, sans-serif; padding-top: 20px;">
    <tr>
        <td bgcolor="#ffffff">

            <table cellpadding="10px" cellspacing="0" border="0" align="center" width="65%" style="padding-top: 10px; font-family:Helvetica, Arial, sans-serif;">
                <tr>
                    <td style="font-family:Helvetica, Arial, sans-serif; font-size: 17px; font-weight: 600; color: #777777; padding:10px; border-bottom: 1px; border-bottom-color: #777777; border-bottom-style: solid;">Password Reset Request</td>
                    <td style="font-family:Helvetica, Arial, sans-serif; font-size: 17px; font-weight: 600; color: #0A77BB; padding:10px; text-align: right; border-bottom: 1px; border-bottom-color: #777777; border-bottom-style: solid;"><span th:text="${serviceName}">Company Name</span></td>
                </tr>
            </table>

            <table align="center" width="60%" border="0" cellspacing="0" cellpadding="0" style="padding-top: 10px; font-family:Helvetica, Arial, sans-serif;">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="color:#777777; font-size: 14px; line-height: 20px; font-family:Helvetica, Arial, sans-serif; padding-top: 20px;">A request has been made to reset your <th:block th:text="${serviceName}">ExampleService </th:block> account password <th:block th:text="${email}">user@example.com</th:block>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;"><a href="http://login.example.com/login/reset_password?code=some_code" style="color: #3498db; font-size: 18px; font-weight: 600; font-family:Helvetica, Arial, sans-serif; text-decoration: none;" th:href="@{${resetUrl}(code=${code})}">Reset your password</a> </td>
                            </tr>
                            <tr>
                                <td style="color:#777777; font-size: 14px; line-height: 20px; font-family:Helvetica, Arial, sans-serif; padding-top: 20px;">If you did not make this request, simply ignore this message and your old password will continue to work.
                                </td>
                            </tr>
                            <tr>
                                <td style="color:#777777; font-size: 14px; font-family:Helvetica, Arial, sans-serif; padding-top: 20px;">Thank you,</td>
                            </tr>
                            <tr>
                                <td style="color:#777777; font-size: 14px; font-family:Helvetica, Arial, sans-serif; font-weight: 500; padding-top: 5px;"><span th:text="${serviceName}">Company Name</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>